@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    list-style-type: none;
}

#mobile-hero{
    background-color: rgb(194, 188, 245);
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'DM Sans',serif;
    font-size: 1.8rem;
    text-align: center;

}

#mobile-hero p{
    margin-left: 10%;
    margin-right: 10%;
    color: rgb(28, 28, 28);
}

#products{
    
    background-color: rgb(248, 207, 183);
    height: 110vh;
    overflow: hidden;
    font-family: 'DM Sans',serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    
}
#products h1{
    font-size: 2.2rem;
}
#products p{
    margin-top: 5px ;

    font-family: 'DM Sans',serif;
    font-size: 1.8rem;
    text-align: center;
    margin-left: 10%;
    margin-right: 10%;
    color: rgb(28, 28, 28);
}

.product{
    padding: 15%;
    background-color: rgba(245, 245, 245, 0.408);
    font-family: 'DM Sans',serif;
}

.products-container{
    height: 50%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 5%;
    
    
}

#contact{
    background-color: rgb(194, 188, 245);
    height: 100vh;
}

header{
    width: 100%;
    position: fixed;
    display: flex;
    flex-direction: row;
    transition: all 0.2s;
}

#mobile-nav{
    background-color: rgba(60, 61, 61, 0.932);
    height: 100vh ;
    width: 75%;
    position: relative;
    border-radius: 0 20% 20% 0px;
    
    overflow: hidden;
    transition: width 0.3s, opacity 175ms;
    opacity: 1;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 2.2rem ;
    gap: 6%;

    
}
.mobile-nav-hidden{
    width: 0 !important;
    opacity: 0 !important;
    transition: width 0.5s, opacity 175ms;
}

#dropdown-toggle{
    min-width: 50%;
    margin-bottom: 0;
    height: 25%;
}
#dropdown-toggle::before{
    content: '<' !important;
    position: absolute;
    right: 18%;
    transition: all 0.2s;
    transform: rotate(90deg)
}
.on::before{
    transform: rotate(-90deg) !important;
}



.dropdown-a{
    display: flex;
    flex-direction: column;
    font-size: 1.7rem;
    text-align: center;
    width: fit-content;
    margin-top: 10%;

    transition: all 0.2s;
}
.dropdown-a::after{
    content: '' !important;
    display: inline !important;
    height: 0.5px !important;

}

.dropdown-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    transition: all 0.2s;
    height: 100%;

}

.dropdown-container a:first-child{
    margin-top: 0%;
}


.hidden-dropdown{
    height: 0 !important;
}



#mobile-nav a{
    text-decoration: none;
    color: whitesmoke;
    font-family: "DM Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
    
}

#mobile-nav a::after{
    content: '';
    height: 0.05rem;

    width: 100%;
    background-color: rgb(222, 198, 245);

    display: block;
    
}




.fa-solid{
    color: whitesmoke;
    scale: 0.6;
    display: inline-block;
    position: absolute;
    bottom: 67.5%;
}




#mobile-nav-button{
    width: 20%;
    height: 8vh;
    background-color: rgba(0, 0, 0, 0.331);
    z-index: 1;
    margin-top: 2%;
    margin-left: 2%;
    border-radius: 15px;
    border: none;

    transition: all .5s;
}

#mobile-nav-button::after{
    content: '\002b';
    font-size: 2.5rem;
    color: #ffffff7b;
    display: block;
    transition:  0.5s;
    
    
}

.mobile-nav-button-on{
    color: whitesmoke !important;
    background-color: rgba(43, 36, 36, 0.742) !important;
    border-radius: 50% !important;
}
.mobile-nav-button-on::after{
    content: '\002b';
    font-size: 2.2rem !important;
    font-weight: 100 !important;
    
    transform: rotate(-135deg)
    
    
}